<!DOCTYPE html>

<html lang="{{ or site.Language.LanguageCode site.Language.Lang }}" dir="{{ or site.Language.LanguageDirection `ltr` }}">
  <head>
    {{ partial "head.html" . }}
  </head>
  <body>
    <header>
      {{ partial "header.html" . }}
    </header>
    <main class="primary">
      <div id="beer-background" />
        <div id="beer-background-content" />
          {{ block "main" . }}{{ end }}
        </div>
      </div>
    </main>
    <footer>
      {{ partial "footer.html" . }}
    </footer>
  </body>
</html>

<script>
  function setColor(color, property, className) {
    const elements = document.querySelectorAll(className);
    for(var i = 0; i < elements.length; i++) {
      elements[i].style[property] = color;
    }
  }

  function initCarbonator () {
    console.log("init");
    const element = document.getElementById("beer-background");
    console.log("element", element);
    if (element ) {
      new Carbonator(element, {});
      element.carbonate();
    } else {
      setTimeout(initCarbonator, 500);
    }
  }

  const colors = [
    {
      accent: "#0e9575",
      primary: "#5c0d00",
      componentBackground: "#282828",
      header: "#dcd3c4",
      text: "#dcd3c4"
    }
  ]

  setColor(colors[0].header, "background-color", "nav *")
  setColor(colors[0].header, "background-color", ".sidenav")

  setColor(colors[0].primary, "background-color", ".primary")

  setColor(colors[0].componentBackground, "background-color", ".card")

  setColor(colors[0].text, "color", ".card")

  setColor(colors[0].accent, "border-left-color", "blockquote")
  setColor(colors[0].accent, "background-color", ".accent-color-background");
  setColor(colors[0].accent, "color", ".accent-color-text")


  initCarbonator();

</script>