{{ define "main" }}
 
  <div class="container">

    <div class="row">
      {{ range .Pages }}
    
        <div class="col s12 m6">
          <div class="card layout-list">
            <div class="card-content">
              <span class="card-title">{{ .LinkTitle }}</span>
              <p>{{ .Description }}</p>
            </div>
            
            <div class="card-action">
              <a class="accent-color-text" href="{{ .Params.externalLink | default .RelPermalink }}">weiter lesen</a>
            </div>
          </div>
        </div>
      
      {{ end }}
    </div>

  </div>
  
{{ end }}
