{{ define "main" }}

  <div class="container">

    <div class="row">
      <div class="col s12">
        <div class="card layout-single">
          <div class="card-content">
            <div class="card-header">
              <a class="btn-floating waves-effect waves-light red" onclick="history.back()">
                <i class="material-icons accent-color-background">arrow_back</i>
              </a>
              <span class="card-title">{{ .Title }}</span>
            </div>

            <p>
              {{ .Content }}
            </p>
          </div>
        </div>
      </div>
    </div>

  </div>
    
  {{ partial "terms.html" (dict "taxonomy" "tags" "page" .) }}
{{ end }}
