<nav>
  <div class="nav-wrapper layout-header">
    <a href="#!" class="brand-logo center">{{ .Site.Title }}</a>

    <a href="#" data-target="navigation-main" class="sidenav-trigger"><i class="material-icons">menu</i></a>

    {{ partialCached "header/beer.html" . }}
  </div>
</nav>

<ul class="sidenav" id="navigation-main">
  {{ with .Site.Menus.main}}
    {{ range sort . }}
      <li class="navigation-item">
        <a class="navigation-link" href="{{ index (apply (slice .URL) (.Params.urlFunc | default "relLangURL") ".") 0 }}">{{ .Name }}</a>
      </li>
    {{ end }}
  {{ end }}
</ul>

<script>
    M.AutoInit();
</script>