<section class="container centered">
    <div class="about">
        {{ partialCached "home/avatar.html" . }}

        {{ partialCached "home/author.html" . }}

        {{ partialCached "home/social.html" . }}
    </div>
</section>
