{{ $script := resources.Get "js/materialize.js" }}
<script src="{{ $script.RelPermalink }}"></script>

{{ $script := resources.Get "js/carbonator.js" }}
<script src="{{ $script.RelPermalink }}"></script>

