<!--Import Google Icon Font-->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<!-- materialize -->
{{ if hugo.IsServer }}
  {{ $cssOpts := (dict "targetPath" "css/materialize.css" "enableSourceMap" true ) }}
  {{ $styles := resources.Get "scss/materialize.scss" | resources.ExecuteAsTemplate "style.materialize.css" . | toCSS $cssOpts }}
  <link rel="stylesheet" href="{{ $styles.RelPermalink }}" media="screen">
{{ else }}
  {{ $cssOpts := (dict "targetPath" "css/materialize.css" ) }}
  {{ $styles := resources.Get "scss/materialize.scss" | resources.ExecuteAsTemplate "style.materialize.css" . | toCSS $cssOpts | minify | fingerprint }}
  <link rel="stylesheet" href="{{ $styles.RelPermalink }}" integrity="{{ $styles.Data.Integrity }}" crossorigin="anonymous" media="screen" />
{{ end }}

<!-- custom -->
{{ if hugo.IsServer }}
  {{ $cssOpts := (dict "targetPath" "css/custom.css" "enableSourceMap" true ) }}
  {{ $styles := resources.Get "scss/custom.scss" | resources.ExecuteAsTemplate "style.custom.css" . | toCSS $cssOpts }}
  <link rel="stylesheet" href="{{ $styles.RelPermalink }}" media="screen">
{{ else }}
  {{ $cssOpts := (dict "targetPath" "css/custom.css" ) }}
  {{ $styles := resources.Get "scss/custom.scss" | resources.ExecuteAsTemplate "style.custom.css" . | toCSS $cssOpts | minify | fingerprint }}
  <link rel="stylesheet" href="{{ $styles.RelPermalink }}" integrity="{{ $styles.Data.Integrity }}" crossorigin="anonymous" media="screen" />
{{ end }}