<!--<a class="btn-floating right">-->
<!--  <i class="material-icons accent-color-background">sports_bar</i>-->
<!--</a>-->

<!--<script>-->
<!--  // require('carbonator');-->

<!--  const init = () => {-->
<!--    const element = document.querySelector("#flat");-->

<!--    console.error("element", element);-->
<!--    if (element) {-->
<!--      console.error(element);-->
<!--      new Carbonator(element, {}); // beer?.theme?.data?.attributes?.carbonator-->
<!--    }-->
<!--  };-->

<!--  init();-->
<!--</script>-->