
$accent-color: #000;
$background-color : #000;
$component-background-color: #000;
$header-color : #000;
$text-color : #000;

* {
  font-size: 20px;
  list-style-type: disc !important;
}

///////////
// theme //
///////////
.accent-color-background {
  background-color: $accent-color;
}

.accent-color-text {
  color: $accent-color;
}

.primary {
  background-color: $background-color;
}


main {
  min-height: 100vh;
}

//////////
// card //
//////////
.card {
  background-color: $component-background-color;
  color: $text-color;
}

.card-content iframe {
  max-width: 100%;
}

.card ul {
  padding-left: 3rem;
}

.layout-single .card-header {
  padding-bottom: 10px;
}

.layout-single .card-header a {
  float: left;
  margin-right: 10px;
}

.layout-single .card-header span {
  padding-top: 5px;
}

////////////
// navbar //
////////////
nav * {
  background-color: $header-color;
  color: black !important;
}

nav .btn-floating {
  height: 48px;
  width: 48px;
  margin: 4px;
}

@media only screen and (min-width: 600px) {
  nav .btn-floating {
    height: 52px;
    width: 52px;
    margin: 6px;
  }
}

@media only screen and (min-width: 993px) {
  nav a.sidenav-trigger {
    display: block;
  }
}

//////////////////
/// blockquote ///
//////////////////
blockquote {
  text-align: center;
  border-left-color: $accent-color;
}

////////////
// images //
////////////
figure img {
  display: block;
}

// aligne
figure.aligne-center {
  img {
    float: none;
    margin: 0 auto 2rem auto;
  }
}

figure.aligne-left {
  img {
    float: left;
    margin: 0 2rem 2rem 0;
  }
}

figure.aligne-right {
  img {
    float: right;
    margin: 0 0 2rem 2rem;
  }
}

// size
figure.size-larger {
  img {
    height: 52.3%;
    width: 52.3%;
  }
}

figure.size-large {
  img {
    height: 45.25%;
    width: 45.25%;
  }
}

figure.size-medium {
  img {
    height: 28.2%;
    width: 38.2%;
  }
}

figure.size-small {
  img {
    height: 21.15%;
    width: 21.15%;
  }
}

figure.size-smaller {
  img {
    height: 14.1%;
    width: 14.1%;
  }
}

@media only screen and (max-width: 768px) {
  figure {
    img {
      float: none !important;
      width: 100% !important;
      margin: 0 !important;
    }
  }
}

#beer-background {
  min-height: 100vh;
  height: 2000px;
  max-height: 100% !important;
  position: sticky;
  top: 0;
  width: 100%;
}


#beer-background-content {
  position: absolute !important;
  top: 56px;
  width: 100%;
}
